@{
    ViewData["Title"] = "Главная страница";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать в ComplectGroup! 👋</h1>
        <p class="lead">Управление комплектациями и компонентами</p>
        <hr class="my-4">
        
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">📋 Разделы</h5>
                        <p class="card-text">Управляйте разделами (главами) комплектации</p>
                        <a href="/Chapters" class="btn btn-primary">Перейти к разделам</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">🔧 Детали</h5>
                        <p class="card-text">Управляйте деталями и компонентами</p>
                        <a href="/Parts" class="btn btn-primary">Перейти к деталям</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
