@{
    ViewData["Title"] = "Главная страница";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать в 🪐Сатурн комплектации! 👋</h1>
        <p class="lead">Управление комплектациями и складом</p>
        <hr class="my-4">
        
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">❌ Разделы </h5>
                        <p class="card-text">Управляйте разделами (главами) комплектации</p>
                        <a href="/Chapters" class="btn btn-primary">Перейти к разделам</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">🔧 Детали</h5>
                        <p class="card-text">Управляйте деталями и компонентами</p>
                        <a href="/Parts" class="btn btn-primary">Перейти к деталям</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">📋 Комплектации</h5>
                        <p class="card-text">Управляйте комплектациями и потребностями</p>
                        <a href="/Complectations" class="btn btn-primary">Перейти к комплектациям</a>
                    </div>
                </div>
            </div>

             <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">🚛⬅📦 Склад</h5>
                        <p class="card-text">Управляйте складом, приходом и отгрузками</p>
                        <a href="/Warehouse" class="btn btn-primary">Перейти к Складу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
